{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="game-box mt-5 mb-5 p-2 p-lg-5 black-border">
            <form method="POST">
                <div class="row">
                    <p>Use the interface below to select your emojis</p>
                </div> 
            <div class="row justify-content-center">
                <div class="emoji-select-box-container">
                    <div class="emoji-select-box col-1">
                        <input name="emoji-1" data-number="1" readonly="readonly" class="emoji-input-1 emoji-selector-1" required/>
                    </div>
                    <div class="emoji-select-box col-1">
                        <input name="emoji-2" data-number="2" readonly="readonly" class="emoji-input-2 emoji-selector-2" />
                    </div>
                    <div class="emoji-select-box col-1">
                        <input name="emoji-3" data-number="3" readonly="readonly"class="emoji-input-3 emoji-selector-3" />
                    </div>
                    <div class="emoji-select-box col-1">
                        <input name="emoji-4" data-number="4" readonly="readonly" class="emoji-input-4 emoji-selector-4" />
                    </div>
                    <div class="emoji-select-box col-1">
                        <input name="emoji-5" data-number="5" readonly="readonly" class="emoji-input-5 emoji-selector-5" />
                    </div>
                </div>
            </div>
            <div class="row">
                <input name="phrase" id="phrase-input" required/>
                <label for="phrase-input">Enter your Phrase</label>
            </div>
            <div class="row">
                <button type="submit">Submit</button>
            </div>
            </form>
    </div>
</div>

    
    <div id="click-off" style="position: absolute"></div>

    <script src="{{ url_for('static', filename='js/vanillaEmojiPicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/emojiPicker.js') }}"></script>
        
    </script>

{% endblock %}