{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <form method="POST">
        <p>Use the interface below to select your emojis</p>
        <div>
            <input name="emoji-1" data-number="1" readonly="readonly" class="emoji-input-1 emoji-selector-1" required/>
        </div>
        <div>
            <input name="emoji-2" data-number="2" readonly="readonly" class="emoji-input-2 emoji-selector-2" />
        </div>
        <div>
            <input name="emoji-3" data-number="3" readonly="readonly"class="emoji-input-3 emoji-selector-3" />
        </div>
        <div>
            <input name="emoji-4" data-number="4" readonly="readonly" class="emoji-input-4 emoji-selector-4" />
        </div>
        <div>
            <input name="emoji-5" data-number="5" readonly="readonly" class="emoji-input-5 emoji-selector-5" />
        </div>
        <br><br>
        <input name="phrase" id="phrase-input" required/>
        <label for="phrase-input">Enter your Phrase</label>
        <br>
        <button type="submit">Submit</button>
        </form>
</div>

    
    <div id="click-off" style="position: absolute"></div>

    <script src="{{ url_for('static', filename='js/vanillaEmojiPicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/emojiPicker.js') }}"></script>
        
    </script>

{% endblock %}