{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 three-across-padding">
            <div class="three-across-box black-border">
                <span class="emoji-large">⚙️</span>
                <h3>
                    Build/ Create/ Make/ Write/ Emojify
                </h3>
                <p>
                    Create an emoji pictogram riddle for other to try and guess
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 three-across-padding">
            <div class="three-across-box black-border">
                <span class="emoji-large">🤔</span>
                <h3>
                    Guess
                </h3>
                <p>
                    Have a go at guessing pictogram riddles set by your friends
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 three-across-padding">
            <div class="three-across-box black-border">
                <span class="emoji-large">🏆</span>
                <h3>
                    Rate
                </h3>
                <p>
                    Rate your favourites and try to gain a place on our leaderboard 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row orange justify-content-center">
        <div col="12">
            <div class="row">
                <h2>Ready for the challenge? Sign up now and see how well you can emoji.</h2>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary">Sign Up Now</button>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 three-across-padding">
            <div class="three-across-box">
                <span class="emoji-medium">😊😊😊😊😊</span>
                <p>By Profile_Name</p>
                <p> xxxxx rated this x</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 three-across-padding">
            <div class="three-across-box">
                <span class="emoji-medium">😊😊😊😊😊</span>
                <p>By Profile_Name</p>
                <p> xxxxx rated this x</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 three-across-padding">
            <div class="three-across-box">
                <span class="emoji-medium">😊😊😊😊😊</span>
                <p>By Profile_Name</p>
                <p> xxxxx rated this x</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div col="12">
            <div class="row">
                <h4>Call To Action</h4>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}