{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="mt-3 mb-3 mt-md-5 mb-md-5 black-border p-2 pt-lg-4 pb-lg-4">
        <div class="container">
            <div class="row p-4 justify-content-center">
                <div class="col-12">
                    <h3 class="text-center">{{ username }}'s Profile</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    {% for riddle in riddles %}
                    <p>Emojis: {{ riddle.emojis }}</p>
                    <p>Phrase: {{ riddle.phrase }}</p>
                    <a href="{{ url_for('play', id=riddle._id) }}">Edit</a>
                    <button type="button" data-toggle="modal" data-target="#deleteModal{{ riddle._id }}">Delete</button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{ riddle._id }}" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Emoji Riddle</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this emoji riddle?</p>
                                    <p>Emojis: {{ riddle.emojis }}</p>
                                    <p>Phrase: {{ riddle.phrase }}</p>
                                </div>
                                <div class="modal-footer">
                                    <a type="button" data-dismiss="modal">Cancel</a>
                                    <a href="{{ url_for('delete_riddle', r_id=riddle._id) }}">Delete</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}